<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modification d'une catégorie
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Modification d'une catégorie</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Nom de la catégorie</ion-label>
          <ion-input type="text" [(ngModel)]="categorie.libelle"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="editCategorie()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
